<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body id="{% block id '' %}"><div id="container">
        {% block body %}{% endblock %}
        <footer>
            {{ 'now' | date('Y') }} - TaskManager
           <a href="{{ path('static_pages', {'page' : 'help' }) }}">Help</a>
        </footer>
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
