
{% extends '::base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
    <h1>TaskManager</h1>

    <ul class="nav nav-tabs" role="tablist">
	  <li><a href="{{ path('task_new') }}">Add task</a></li>
      <li><a href="{{ path('fos_user_registration_register') }}">Register new user </a></li>
      <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
	</ul>

    <div>
        {% block bodycontent %}{% endblock bodycontent%}

    </div>
{% endblock %}

