
{% extends '::base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
    <h1><a href="#">TaskManager</a></h1>
    <nav>
        <ul>
            <li><a href="#">Add task</a></li>
            <li><a href="#">Register new user </a></li>
            <li>{% block fos_user_content %}
                    {% include "FOSUserBundle::layout.html.twig" %}
                {% endblock fos_user_content %}</li>
        </ul>
    </nav>
{% endblock %}

